*.swp
highrise.sh
.vim/backup
.vim/bundle
.vim/swap
.vim/undo
.vim/.netrwhist
nvim/.netrwhist
nvim/plugged
emacs.d/auto-save-list/
emacs.d/elpa/
emacs.d/url/
emacs.d/server/
emacs.d/transient/
emacs.d/bookmarks
emacs.d/ido.last
emacs.d/history
